<body>
  <header>
    <div class="top">
      <div class="left">
        <img class="logo" src="assets/img/logo.png" alt="">
        <div class="input">
          <input class="searchInput" name="" value="">
          <button type="button" class="searchButton"><span class="search">Search</span></button>
        </div>
      </div>
      <div class="right">
        <p class="one">Sell on Etsy</p>
        <p class="two">Register</p>
        <button type="button" id="signIn">Sign in</button>
        <p>Discover</p>
        <p>Cart</p>
      </div>
    </div>
    <div class="bottomMain">
      <div class="bottomSearch">
        <input class="searchInput" name="" value="">
        <button type="button" class="searchButton"><span class="search">Search</span></button>
      </div>
      <div class="bottom">
        <p>Jewelry & Accessories</p>
        <p>Clothing & Shoes</p>
        <p>Home & Living</p>
        <p>Wedding & Party</p>
        <p>Toys & Entertainment</p>
        <p>Art & Collectibles</p>
        <p>Craft Supplies</p>
        <p>Vintage</p>
        <p>Gifts</p>
      </div>
    </div>
  </header>

  <div class="quote">
    <p>If it's handcrafted, vintage, custom, or unique, it's on Etsy.</p>
  </div>

  <div class="shopGrid">
    <div class="main">
      <div class="mainDescriptor">
        <h1>Let imagination light up your life.</h1>
        <p>Shop Home & Living</p>
      </div>
      <img src="assets/img/mainImg.jpg" alt="">
    </div>
    <div class="side">

    </div>
  </div>

</body>
