/* header */
/* top */
.top{
  display: flex;
  flex-direction: row;
}
.logo{
  height: 50px;
}
.searchButton{
  background-color: black;
}
.search{
  color: white;
}
#signIn{
  background-color: white;
  border-color: black;
  border-radius: 3px;
}
/* bottom */
