/* top */
.top{
  padding: 15px 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid lightgray;
}
.logo{
  height: 50px;
}
.search{
  color: white;
}
#signIn{
  background-color: white;
  border-color: black;
  border-radius: 3px;
  height: 35px;
  width:70px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.right{
  display: flex;
  flex-direction: row;
}
.left{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.input{
  margin-top: 10px;
}
.searchInput{
  height: 25px;
  width: 200px;
  border-radius: 5px;
  background-color: lightgray;
}
.searchButton{
  background-color: black;
  height: 30px;
  border-color: black;
  width: 80px;
  font-size: 15px;
  border-radius: 5px;
}
.right p{
  margin-left: 20px;
  margin-top: 10px;
}
/* top end */





/* bottom */
.bottomMain{
  border: 1px solid lightgray;
}
.bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 20px;
}
.bottom p{
  width: 70px;
  text-align: center;
  font-size: 15px;
}
.bottomSearch{
  display: none;
}
/* bottom end */





/* quote  */
.quote{
  font-size: 30px;
  text-align: center;
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}
/* quote end */





/* shop grid */
.shopGrid {
  margin: 30px 3% 0 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 0.6fr 1.4fr;
  grid-template-rows: 1fr 0.8fr;
  grid-template-areas: "main main main side" "main main main side";
}
.main {
  grid-area: main;
  height: 300px;
  width: 97%;
  display: flex;
  flex-direction: row;
}
.mainDescriptor{
  text-align: center;
  padding: 80px 5px 0 5px;
  font-size: 15px;
  background-color: yellow;
}
.main img {
  height: 300px;
  /* overflow: hidden; */
  width:60%;
  /* position: relative; */

}
.side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: side;
  height: 300px;
}
.sideDescriptor img{
  width: 100%;
  height: 220px;
}
.sideDescriptor p{
  position: absolute;
  width: 180px;
  font-size: 25px;
  margin-left: 15px;
  margin-top: 15px;
}
.sideDescriptor #subP{
  position: absolute;
  width: 180px;
  font-size: 15px;
  margin-left: 15px;
  margin-top: 90px;
}
.sideBottom{
  background-color: yellow;
  height: 20%;
  text-align: center;
}
.sideBottom p{
  margin-top: 20px;
}
/* shop grid end */





/* descriptions */
.descriptions{
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  margin: 10px 0 0 10px;
}
.des{
  width: 33%;
  margin: 0 20px 0 20px;
}
.checked{
  font-size: 17px;
  margin-bottom: 5px;
  text-align: center;
}
.def{
  font-size: 15px;
  text-align: center;
}
.descriptor{
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}
/* descriptions end */





/* populars */
.populars{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "pop1 pop2 pop3 pop4 pop5 pop6";
  margin: 2.5% 2.5% 0 2.5%;
}
.pop1 { grid-area: pop1; }
.pop2 { grid-area: pop2; }
.pop3 { grid-area: pop3; }
.pop4 { grid-area: pop4; }
.pop5 { grid-area: pop5; }
.pop6 { grid-area: pop6; }
.pop{
  width: calc(100%/6);
}
.pop img{
  margin-left: 50%;
  width: 500%;
}
/* populars end */





/* media query */
@media screen and (max-width: 900px){
  .input{
    display: none;
  }
  .bottom{
    display: none;
  }
  .bottomSearch{
    display: block;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .searchInput{
    width: 70%;
  }
  .searchButton{
    width: 19%;
  }


  /* grid */
  .shopGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.2fr 0.8fr 1fr;
    grid-template-areas: "main main main main" "main main main main" "side side side side" "side side side side";
  }
  .main{
    width: 100%;
  }
  .side{
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    grid-area: side;
    height: 200px;
  }
  .sideDescriptor img{
    width: 95%;
    height: 200px;
  }
  .sideBottom{
    background-color: yellow;
    height: 100%;
    width: 50%;
    text-align: center;
  }
  .sideBottom p{
    margin-top: 80px;
  }



  /* descriptions  */
  .descriptions{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 10px;
  }
  .des{
    width: 33%;
    margin: 0 20px 0 20px;
  }
  .checked{
    font-size: 15px;
    margin-bottom: 5px;
  }
  .def{
    font-size: 12px;
  }
  .descriptor{
    font-size: 23px;
  }
}
@media screen and (max-width: 640px){
  .quote{
    font-size: 25px;
  }


  /* grid */
  .shopGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 0.8fr .5fr;
    grid-template-areas: "main main main main" "side side side side" ". . . .";
  }
  .main{
    flex-direction: column-reverse;
  }
  .main img{
    width: 100%;
    height: 75%;
  }
  .mainDescriptor{
    padding: 15px 0 0 0;
    height: 25%;
    font-size: 13px;
  }
  .side{
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-between;
    grid-area: side;
    height: 200px;
  }
  .sideDescriptor img{
    width: 100%;
    height: 200px;
  }
  .sideBottom{
    background-color: yellow;
    width: 100%;
    margin-top: 20px;
    height: 80px;
    text-align: center;
  }
  .sideBottom p{
    margin-top: 30px;
    padding-bottom: 40px;
    text-align: left;
    margin-left: 10px;
  }




  /* descriptions */
  .des2, .des3{
    display: none;
  }
  .des1{
    width: 70%;
    margin-left: 15%;
  }
  .descriptions{
    margin: 0 15% 0 15%;
  }
  .checked{
    font-size: 17px;
  }
  .def{
    font-size: 15;
  }
  .defHide{
    display: none;
  }
  .descriptor{
    font-size: 23px;
  }
}
@media screen and (max-width: 520px){
  .one{
    display: none;
  }
}
@media screen and (max-width: 420px){
  .two{
    display: none;
  }
}
/* media query end */
