<body>
  <header>

    <div class="top">

      <div class="left">
        <img class="logo" src="assets/img/logo.png" alt="">
        <div class="input">
          <input class="searchInput" name="" value="">
          <button type="button" class="searchButton"><span class="search">Search</span></button>
        </div>
      </div>

      <div class="right">
        <p>Sell on Etsy</p>
        <p>Register</p>
        <button type="button" id="signIn">Sign in</button>
        <p>Discover</p>
        <p>Cart</p>
      </div>

    </div>

    <div class="bottomMain">
      <div class="bottom">
        <p>Jewelry & Accessories</p>
        <p>Clothing & Shoes</p>
        <p>Home & Living</p>
        <p>Wedding & Party</p>
        <p>Toys & Entertainment</p>
        <p>Art & Collectibles</p>
        <p>Craft Supplies</p>
        <p>Vintage</p>
        <p>Gifts</p>
      </div>
    </div>

  </header>
</body>
