<body>
  <header>
    <div class="top">
      <div class="left">
        <img class="logo" src="assets/img/logo.png" alt="">
        <div class="input">
          <input class="searchInput" name="" value="">
          <button type="button" class="searchButton"><span class="search">Search</span></button>
        </div>
      </div>
      <div class="right">
        <p class="one">Sell on Etsy</p>
        <p class="two">Register</p>
        <button type="button" id="signIn">Sign in</button>
        <p>Discover</p>
        <p>Cart</p>
      </div>
    </div>
    <div class="bottomMain">
      <div class="bottomSearch">
        <input class="searchInput" name="" value="">
        <button type="button" class="searchButton"><span class="search">Search</span></button>
      </div>
      <div class="bottom">
        <p>Jewelry & Accessories</p>
        <p>Clothing & Shoes</p>
        <p>Home & Living</p>
        <p>Wedding & Party</p>
        <p>Toys & Entertainment</p>
        <p>Art & Collectibles</p>
        <p>Craft Supplies</p>
        <p>Vintage</p>
        <p>Gifts</p>
      </div>
    </div>
  </header>
  <div class="quote">
    <p>If it's handcrafted, vintage, custom, or unique, it's on Etsy.</p>
  </div>
  <div class="shopGrid">
    <div class="main">
      <div class="mainDescriptor">
        <h1>Let imagination light up your life.</h1>
        <p>Shop Home & Living ></p>
      </div>
      <img src="assets/img/mainImg.jpg" alt="">
    </div>
    <div class="side">
      <div class="sideDescriptor">
        <p>Find your perfect "I do" details.</p>
        <p id="subP">Shop wedding ></p>
        <img src="assets/img/sideImg.jpg" alt="">
      </div>
      <div class="sideBottom">
        <p>Get it quick with ready-to-ship finds ></p>
      </div>
    </div>
  </div>
  <div class="descriptions">
    <div class="des des1">
      <p class="checked">Unique everything</p>
      <p class="def">We have millions of one-of-a-kind items<span class="defHide">, so you can find whatever you need (or really, really want)</span>.</p>
    </div>
    <div class="des des2">
      <p class="checked">Independent sellers</p>
      <p class="def">Buy directly from someone who put their heart and soul into making something special.</p>
    </div>
    <div class="des des3">
      <p class="checked">Secure shopping</p>
      <p class="def">We use best-in-class technology to protect your transactions.</p>
    </div>
  </div>
  <p class="descriptor">Popular right now</p>



  <div class="populars">
    <div class="pop pop1">
      <img src="assets/img/pop1.jpg" alt="">
      <div class="product1">

      </div>
      <div class="company1">

      </div>
      <div class="price1">

      </div>
    </div>
    <div class="pop pop2">
      <img src="assets/img/pop2.jpg" alt="">
      <div class="product2">

      </div>
      <div class="company2">

      </div>
      <div class="price2">

      </div>
    </div>
    <div class="pop pop3">
      <img src="assets/img/pop3.jpg" alt="">
      <div class="product3">

      </div>
      <div class="company3">

      </div>
      <div class="price3">

      </div>
    </div>
    <div class="pop pop4">
      <img src="assets/img/pop4.jpg" alt="">
      <div class="product4">

      </div>
      <div class="company4">

      </div>
      <div class="price4">

      </div>
    </div>
    <div class="pop pop5">
      <img src="assets/img/pop5.jpg" alt="">
      <div class="product5">

      </div>
      <div class="company5">

      </div>
      <div class="price5">

      </div>
    </div>
    <div class="pop pop6">
      <img src="assets/img/pop6.jpg" alt="">
      <div class="product6">

      </div>
      <div class="company6">

      </div>
      <div class="price6">

      </div>
    </div>
  </div>


</body>
