/* top */
.top{
  padding: 15px 20px 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid lightgray;
}
.logo{
  height: 50px;
}
.search{
  color: white;
}
#signIn{
  background-color: white;
  border-color: black;
  border-radius: 3px;
  height: 35px;
  width:70px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.right{
  display: flex;
  flex-direction: row;
}
.left{
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.input{
  margin-top: 10px;
}
.searchInput{
  height: 25px;
  width: 200px;
  border-radius: 5px;
  background-color: lightgray;
}
.searchButton{
  background-color: black;
  height: 30px;
  border-color: black;
  width: 80px;
  font-size: 15px;
  border-radius: 5px;
}
.right p{
  margin-left: 20px;
  margin-top: 10px;
}
/* top end */





/* bottom */
.bottomMain{
  border: 1px solid lightgray;
}
.bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 20px;
}
.bottom p{
  width: 70px;
  text-align: center;
  font-size: 15px;
}
.bottomSearch{
  display: none;
}
/* bottom end */





/* media query */
@media screen and (max-width: 900px){
  .input{
    display: none;
  }
  .bottom{
    display: none;
  }
  .bottomSearch{
    display: block;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .searchInput{
    width: 70%;
  }
  .searchButton{
    width: 19%;
  }
}
/* media query end */
